#Nav-container .Nav-header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;

}
#Nav-container .Nav-left{
    display: flex;
    width:40%;
    justify-content: space-between;
    align-items: center;
}
#Nav-container .Nav-logo{
   font-family:'Epilogue', sans-serif;;
}
#Nav-container .Nav-tabs{
    width:80%;
    position: relative;
}
#Nav-container .Nav-tabs-list{
    list-style: none;
    display:flex;
    justify-content: space-between;
  
}
#Nav-container .Nav-tabs-list li:hover{
    color: grey;
}
#Nav-container .featureslist,.company-list{
    list-style: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;   
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    background: white;    
    color: grey;
    cursor:pointer;

}
#Nav-container .featureslist li,.company-list li{
    margin-bottom: 10px;
}
#Nav-container .featureslist ul:hover{
    display: block;
}
#Nav-container .Nav-Right{
   width: 20%;
   display: flex;
   justify-content: space-around;
   align-items: center;  
}
#Nav-container .register{
    border: 2px solid grey;
    border-radius: 10px;
    padding:10px;  
    color: grey;
}
.content-body{
    padding: 1em;
    display: flex;
    margin-top: 30px;
  
}
.content-body h5{
    font-size: 5rem;

}
.content-body p{
    font-size: 18px;
    width: fit-content;
    text-align: justify;
    line-height: 1.5;
}
.content-right{
   padding: 70px;
   position: relative;
}
.content-right button{
    padding: 15px 30px;
    margin-top: 50px;
    color: white;
    background-color: hsl(0, 0%, 8%);
    border: none;
    border-radius: 10px;
}
.hero{
    width: 50%;
    background: url(../images/image-hero-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero img{
    width: 100%;
    height: auto;  
}
.clients{
    position: absolute;
    margin-top: 40px;
    width: 80%;
}
.clients ul{
    list-style: none;
    display: flex; 
    justify-content: space-between;
}
@media screen and (max-width: 920px) {
    #Nav-container .Nav-tabs{
        display: none;
    }
    #Nav-container .Nav-left{
        align-items: flex-start;
    }
    .content-right button{
        margin: 50px 80px;
        width: 150px;
    }
    #Nav-container .login{
        display: none;
    }
    .content-body{
        display: flex;
        margin: auto;
        flex-direction: column-reverse;
    
    }
    
    .content-body h5{
        font-size: 2.4rem;
        font-weight: 900;
        text-align: center;
        padding: 0;
    }
    .content-body p{
        
        text-align: center;
    }
    .content-right{
        padding: 1em;
    }
   
    .clients{
        bottom: -70px;
        width: 100%;
        
    }
    .clients ul{
        padding: 1em;
       
    }
    .clients img{
        width: 70px;
       
    }
    .hero{
        height: 50vh;
        width: 80%;
        margin: auto;
        background-image: url(../images/image-hero-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .sidebar-bars{
        position: relative;
        z-index: 1;
      background-color: #fff;
      color: black;
    
    }
  
}